<!-- <div class="left col-lg-3 col-sm-6" [ngClass]="{'div-none' : show==false , 'div-block': show==true }"> -->
<!-- <div class="left col-lg-3 col-sm-6"> -->
<div class="body">
  <div class="input-group p-3">
    <div class="input-group-text" id="btnGroupAddon"><i class="fa-solid fa-magnifying-glass"></i></div>
    <input type="search" class="form-control" placeholder="Search and start new chat">
  </div>
  <div class="card chat-list">
    <!-- <button (click)='showform()'> -->
    <!-- <div class="d-flex justify-content-between "  (click)='showform()'> -->
    <div class="d-flex justify-content-between" (click)='showform()'>
      <div class="d-flex justify-content-between align-self-center">
        <div class="chat-list-img">
          <img src="../assets/image/profile2.jpg" class="rounded-circle avatar" alt="">
        </div>
        <div>
          <h5 class="chat-list-name">John</h5>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center p-2">
        <i class="fa-solid fa-circle"></i>
      </div>
    </div>
    <!-- </button> -->
    <!-- <div class="d-flex justify-content-between mt-4" (click)='showform()'> -->
    <div class="d-flex justify-content-between mt-4" (click)='showform()'>
      <div class="d-flex justify-content-between align-self-center">
        <div class="chat-list-img">
          <img src="../assets/image/profile3.jpg" class="rounded-circle avatar" alt="">
        </div>
        <div>
          <h5 class="chat-list-name">Mari</h5>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center p-2">
        <i class="fa-solid fa-circle"></i>
      </div>
    </div>
    <!-- <div class="d-flex justify-content-between mt-4">
        <div class="d-flex justify-content-between align-self-center">
          <div class="chat-list-img">
            <img src="../assets/image/profilegirl.jpg" class="rounded-circle avatar" alt="">
          </div>
          <div>
            <h5 class="chat-list-name">Emma</h5>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center p-2">
          <i class="fa-solid fa-circle"></i>
        </div>
      </div> -->
  </div>
  <!-- <div class="conversation">
    </div> -->
</div>
<!-- </div> -->
